*{
    box-sizing: border-box;
}

body {
    background: #6cb4a5;	
    color: #f8f6ad;

}

header, main, footer{
    background: #26457d;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: solid;
    border-color: #000;
}

nav ul, footer ul {    
    list-style-type: none;
}

nav a, footer a {
	text-decoration: none;
    margin-right: 15px;
}

a:link {
	color: #36695f;
}
a:visited {
	color: #f8f6ad;
}
a:hover {
	color: #fcffe1;
}
a:active {
	color: #63598f;
}

.contenedor-img img {
    border-radius: 30px;
    border: solid;
    border-color: #000;

}

.contenedor-datos {
    margin: 15px;
    padding: 10px;
}

.contenedor-texto{
    margin: 10px;
    padding: 10px;

}